@import "../Shared/shared.scss";

.prototype-container {
  width: 40%;
  margin: 0 auto;
}

.rec {
  .rec-arrow:disabled {
    visibility: hidden;
  }

  .rec-arrow {
    background-color: #efe0c97c;
  }
  .rec-arrow:hover:enabled,
  .rec-arrow:focus:enabled {
    background-color: $baseGreen;
  }

  .rec-dot {
    background-color: #efe0c97c;
    box-shadow: 0 0 1px 3px $baseBeige;
  }
  .rec-dot:hover {
    box-shadow: 0 0 1px 3px $baseGreen;
  }
  .rec-dot:focus:enabled,
  .rec-dot:active:enabled {
    background-color: $baseGreen;
    box-shadow: 0 0 1px 3px $baseGreen;
  }
}
