@import "../Shared/shared.scss";

// .hero-header {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

.hero-header {
  display: flex;
}

.hero-header-text {
  display: flex;
  width: 100%;
}

.vine {
  height: 50rem;
  opacity: 0.5;
}

.text-container {
  position: relative;
  right: 2rem;
  width: 30rem;
  h1 {
    font-family: $titleFont;
    font-size: 62px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
  }
  p {
    font-family: $generalFont;
    font-size: 16px;
    text-align: left;
    margin: 0;
  }
  .vertical-line {
    position: relative;
    right: 1rem;
    width: 1.5px;
    background-color: $baseGreen;
    height: 7rem;
    float: left;
  }
  .sub {
    margin-top: 1rem;
  }
  button {
    background-color: $baseGreen;
    color: white;
    display: flex;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
    p {
      margin: auto;
      font-size: 20px;
    }
  }
  .logo-container {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 10rem;
    .logo {
      width: 5rem;
      height: 5rem;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1rem;
    }
    h2 {
      font-family: $titleFont;
      text-align: left;
      font-size: 30px;
      height: 4rem;
      font-weight: 500;
    }
    span {
      font-family: $generalFont;
      position: relative;
      bottom: 1rem;
      font-size: 12px;
      margin-bottom: auto;
    }
  }
}

.bm1 {
  height: 65rem;
  position: relative;
  bottom: 5rem;
  margin-left: auto;
  right: 12rem;
  z-index: -1;
}

.island-container {
  display: flex;
  justify-content: space-between;
  object-fit: none;
  height: 20rem;
  .island1 {
    position: relative;
    bottom: 20rem;
    width: 50rem;
    height: 80rem;
  }
  .island2 {
    position: relative;
    bottom: 25rem;
    width: 40rem;
    height: 80rem;
  }
}

.about-us {
  font-family: $generalFont;
  width: 25rem;
  // height: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  // bottom: 30rem;
  h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  hr {
    margin: 2rem 0;
    border: 2px solid $baseBeige;
    // border: 2px solid $baseGreen;
    border-radius: 5rem;
  }
  .about-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    button {
      width: 10rem;
      height: 4rem;
      border-radius: 1rem;
      p {
        font-family: $generalFont;
        margin: auto;
        font-size: 20px;
      }
    }
    .personal-btn {
      border: 2px solid $baseGreen;
      background-color: $baseGreen;
      color: white;
      transition: 0.3s ease-in-out;
    }
    .personal-btn:hover {
      border: 2px solid $baseGreen;
      background-color: transparent;
      color: black;
    }

    .business-btn {
      border: 2px solid $baseGreen;
      background-color: transparent;
      color: black;
      transition: 0.3s ease-in-out;
    }
    .business-btn:hover {
      border: 2px solid $baseGreen;
      background-color: $baseGreen;
      color: white;
    }
  }
}

@media (max-width: 1370px) {
  .bm1 {
    right: 25%;
  }
  .island-container {
    .island1 {
      width: 50%;
    }
    .island2 {
      width: 45%;
    }
  }
}

@media (max-width: 1240px) {
  .bm1 {
    width: 60%;
    right: 30%;
  }
}

@media (max-width: 1024px) {
  .bm1 {
    width: 35rem;
    right: 15rem;
  }

  .island-container {
    .island1 {
      width: 30rem;
    }
    .island2 {
      width: 25rem;
    }
  }
}

@media (max-width: 1012px) {
  .bm1 {
    width: 35rem;
    right: 20rem;
  }
}

@media (max-width: 932px) {
  .bm1 {
    width: 30rem;
  }
}

@media (max-width: 880px) {
  .island-container {
    height: 64rem;
    .island1 {
      width: 100%;
      position: relative;
      bottom: 5rem;
    }
  }
  .bm1,
  .island2 {
    display: none;
  }
}

@media (max-width: 659px) {
  .text-container {
    position: relative;
    width: 90%;
    transform: scale(0.8);
    right: 25%;
  }
  .hero-header-text {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .text-container {
    right: 30%;
  }
  .island-container {
    height: 40rem;
    margin-bottom: 0;
    .island1 {
      height: 50rem;
      width: 100%;
      position: relative;
      bottom: 5rem;
    }
  }
}

@media (max-width: 375px) {
  .about-us {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .text-container {
    right: 55%;
  }
  .island-container {
    height: 30rem;
    margin-bottom: 0;
    .island1 {
      height: 40rem;
      width: 100%;
      position: relative;
      bottom: 5rem;
    }
  }
}
