@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300;400;500&display=swap");

//Fonts
$titleFont: "Chewy", cursive;
$generalFont: "Fredoka", sans-serif;

//Colours
$baseYellow: #ca984f;
$baseBeige: #efe0c9;
$baseGreen: #6a7b73;
$baseOrange: #bf815c;
$baseRed: #964941;

$baseDarkBrown: #211012;
$baseLightBrown: #7a746a;
