@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300;400;500&display=swap");

/* font-family: 'Chewy', cursive;
font-family: 'Fredoka', sans-serif; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hero */
.hero-container {
}

.hero-header-wrapper {
  background-color: #bf815c;
}

.hero-header-container {
  margin-left: auto;
  margin-right: auto;
  background-image: url("../src/assets/photos/male-hand.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 240px;
  height: 35rem;
  width: 60rem;
}

.hero-header-text {
  width: 17rem;
  padding-top: 100px;
  padding-right: 0px;
}

.hero-header-text h1 {
  font-size: 45px;
  text-align: left;
  margin: 0;
  width: 40rem;

}

.hero-text {
  text-align: left;
}

.hero-text h1 {
  color: rgb(178, 98, 253);
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-text p {
  font-size: 22px;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-btn {
  height: 4rem;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-text-btn button {
  background-color: green;
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  width: 12rem;
  border-radius: 5rem;
}
