@import "../Shared/shared.scss";

.socials-container {
  // background-color: $baseBeige;
  // border-radius: 5rem 5rem 0 0;
  padding: 4rem 0;
  h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  .icon-social {
    cursor: pointer;
    color: white;
  }
}
