@import "../Shared/shared.scss";

.prototype-container {
  //background: linear-gradient(to bottom, $baseYellow, $baseBeige);
  font-family: $generalFont;

  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
  h1 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .prototype-background-wrapper {
    width: 40rem;
    margin: 0 auto;
  }
}

.rec {
  .rec-arrow:disabled {
    visibility: hidden;
  }

  .rec-arrow {
    background-color: #efe0c97c;
  }
  .rec-arrow:hover:enabled,
  .rec-arrow:focus:enabled {
    background-color: $baseGreen;
  }

  .rec-dot {
    background-color: #efe0c97c;
    box-shadow: 0 0 1px 3px $baseBeige;
  }
  .rec-dot:hover {
    box-shadow: 0 0 1px 3px $baseGreen;
  }
  .rec-dot:focus:enabled,
  .rec-dot:active:enabled {
    background-color: $baseGreen;
    box-shadow: 0 0 1px 3px $baseGreen;
  }
}

@media (max-width: 659px) {
  .prototype-background-wrapper {
    h1 {
      transform: scale(0.9);
    }
  }
  .carousel {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .prototype-container {
    .prototype-background-wrapper {
      width: 425px;
      h1 {
        transform: scale(0.7);
      }
    }
    .carousel {
      transform: scale(0.9);
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: scale-down;
      }
    }
  }
}

@media (max-width: 375px) {
  .prototype-container {
    .prototype-background-wrapper {
      width: 375px;
      h1 {
        transform: scale(0.5);
      }
    }
    .carousel {
      transform: scale(0.9);
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: scale-down;
      }
    }
  }
}

@media (max-width: 320px) {
  .prototype-container {
    .prototype-background-wrapper {
      width: 320px;
      h1 {
        transform: scale(0.5);
      }
    }
    .carousel {
      transform: scale(0.9);
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: scale-down;
      }
    }
  }
}
